

</body>

<footer>
  Copyright 2021 ANKIT MEENA 
<br>
<br>
  <span>
    <a href="https://twitter.com/ankit_d_meena"> <i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://github.com/ankitmeena007/"> <i class="fa-brands fa-github"></i></a>
    <!--
    <a href=""> <i class="fa-brands fa-linkedin"></i></i></i></a>
    <a href=""> <i class="fa-brands fa-spotify"></i></i></i></i></a>
    -->
    <a href="https://ankitmeena007.github.io/">
    <img style="float:right" src="favicon.png"  height="50" width="50"></p>
    </a>
  
  </span>
</footer>

</html>
